<h1>Flashcards..hooray!</h1>
<h2><%= @subject.title %></h2>
<br>
<%= link_to 'Edit Subject', edit_subject_path( @subject ) %>
<%= link_to 'Delete Subject', subject_path( @subject ), method: :delete, data: {confirm: "Are you sure?"} %>

<h3>Answers</h3>

<%= link_to 'Create New Card', new_subject_card_path(@subject) %>

<% @subject.cards.each do |card| %>
  <div class="card"><%= card.question %>
  <%=link_to "Edit Card", edit_subject_card_path(@subject, card) %>
  <%=link_to 'Delete Card', destroy_subject_card_path( @subject, card ), method: :delete, data: {confirm: "Are you sure?"} %>

  </div>

<% end %>
