<h2><%=@entry.author %></h2>
<a href="/entries/<%=@entry.id%>/edit"><img src="<%=@entry.photo_url%>">Update this photo</a>




<%=form_tag entry_path(@entry), method: "delete" do %>
<%=submit_tag("destroy") %>
<% end %>
